@CHARSET "ISO-8859-1";
.newtab-grid{
    -moz-box-flex: 5;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    text-align: center;
    transition: 100ms ease-out;
        transition-property: all;
        transition-duration: 100ms;
        transition-timing-function: ease-out;
        transition-delay: 0s;
    transition-property: opacity;
}

.newtab-site {
    border-radius: inherit;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
    box-shadow: 0 1px 3px #c1c1c1;
    text-decoration: none;
        text-decoration-color: -moz-use-text-color;
        text-decoration-line: none;
        text-decoration-style: solid;
    transition-property: top, left, opacity, box-shadow, background-color;
}

newtab-cell {
    display: -moz-box;
    height: 210px;
    margin: 20px 10px 35px;
        margin-top: 20px;
        margin-right: 10px;
        margin-bottom: 35px;
        margin-left: 10px;
    width: 290px;
}

.newtab-cell {
    background-color: rgba(255,255,255,.2);
    border-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
}