<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<welcome-file-list>
<welcome-file>alllogin.jsp</welcome-file>
<welcome-file>login.jsp</welcome-file>
<welcome-file>create.jsp</welcome-file>
<welcome-file>accountcreated.jsp</welcome-file>
<welcome-file>Employee.jsp</welcome-file>
<welcome-file>admin.jsp</welcome-file>
<welcome-file>createadmin.jsp</welcome-file>
<welcome-file>edit.jsp</welcome-file>
<welcome-file>empview.jsp</welcome-file>
<welcome-file>empview1.jsp</welcome-file> 
<welcome-file>leaves.jsp</welcome-file>
<welcome-file>logout.jsp</welcome-file>
<welcome-file>view.jsp</welcome-file>
<welcome-file>view1.jsp</welcome-file>
<welcome-file>delete.jsp</welcome-file>
<welcome-file>deletesuccess.jsp</welcome-file>
<welcome-file>workreport.jsp</welcome-file>
<welcome-file>viewleaves.jsp</welcome-file>
<welcome-file>emails.jsp</welcome-file>
<welcome-file>email.jsp</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>createservlet</servlet-name>
<servlet-class>servlets.createservlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>createservlet</servlet-name>
<url-pattern>/createservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>employeeservlet</servlet-name>
<servlet-class>servlets.employeeservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>employeeservlet</servlet-name>
<url-pattern>/employeeservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>leavesservlet</servlet-name>
<servlet-class>servlets.leavesservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>leavesservlet</servlet-name>
<url-pattern>/leavesservlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>adminservlet</servlet-name>
<servlet-class>servlets.adminservlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>adminservlet</servlet-name>
<url-pattern>/adminservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>editservlet</servlet-name>
<servlet-class>servlets.editservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>editservlet</servlet-name>
<url-pattern>/editservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>deleteservlet</servlet-name>
<servlet-class>servlets.deleteservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deleteservlet</servlet-name>
<url-pattern>/deleteservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>editservlet1</servlet-name>
<servlet-class>servlets.editservlet1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>editservlet1</servlet-name>
<url-pattern>/editservlet1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>workreportservlet</servlet-name>
<servlet-class>servlets.workreportservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>workreportservlet</servlet-name>
<url-pattern>/workreportservlet</url-pattern>

</servlet-mapping>

<servlet>
<servlet-name>emailservlet</servlet-name>
<servlet-class>servlets.emailservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>emailservlet</servlet-name>
<url-pattern>/emailservlet</url-pattern>

</servlet-mapping>
</web-app>


